@model IEnumerable<KacikFryzjerski.Models.CategoryModels>

<nav>
    <ul>
        <li id="categories-header">Kategorie</li>
        @foreach (var storeCategory in Model)
        {
            <li>
                <a class="store-category" href="@Url.Action("CategoryList", "Store", new { category_id = storeCategory.Id })">@storeCategory.Category_name.ToString()</a>
            </li>
        }
    </ul>
</nav>