
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sitemap">@Html.MvcSiteMap().SiteMapPath()</div>

<table>
    <tr>
        <td id="categories">
            @Html.Action("CategoryMenu")
        </td>
        <td id="products">
            <div>
                @Html.Partial("_CategoryList")
            </div>
        </td>
    </tr>
</table>